body{ 
     background-color: black;
     color: white;

     font-family: 'Bebas Neue', sans-serif;
}
p{                                 
color: red;
font-size: 40px; 

}
#missao{  

color: blue;

font-size: 30px;
font-weight: 760;
}
#banner{

width: 30%


}
#baner{

width: 30%


}
#conteudo{

display: flex;
margin-left: 100px;

}
#teste{

width: 40%;
margin-left: 100px;

}