body{ 
     background-color: black;
     color: white;

     font-family: 'Bebas Neue', sans-serif;
}
p{                                 
color: red;
font-size: 40px; 

}
#missao{  

color: blue;

font-size: 16px;
font-weight: 760;
}